
#messageBox {
  padding: 20px;
  padding-bottom: 80px;
}

#chatBox {
  padding: 20px;
  position: fixed;
  bottom: 0;
  background-color: #EEE;
}

#chatArea {
  resize: none;
  height: 50px;
}

#sendButton {
  height: 50px;
  font-weight: bold;
  border-color: #679;
  background-color: #679;
}

.message {
  font-size: 125%;
}

.myMessage {
  position: relative;
  border-color: #679;
  background-color: #679;
  color: white;
  width: 300px;
}

.otherMessage {
  position: relative;
  border-color: #ddd;
  width: 300px;
}
